<%= turbo_frame_tag "login_frame" do  %>

<dialog open class="login-dialog-box" data-controller="login-dialog"  data-login-dialog-target="loginDialog">
  
    <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
    <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

    <%= form_with url: session_path, class: "form login" do |form| %>
      <div class="field title">
        <div>Login</div>
        <button type="button" class="btn btn-secondary" data-action="click->login-dialog#toggleDialog">Close</button>
      </div>
      
      <hr />

      <div class="field">
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
      </div>
      <div class="field">
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password" %><br>
      </div>
      <%= form.submit "Sign in", class: "btn login" %>
    <% end %>
    <%# <%= link_to "Forgot password?", new_password_path, class: "btn forgot" %>
</dialog>
    
<% end %>