<%# app/views/pages/home.html.erb %>
<!-- This is the content of the home page -->
<!-- It will be rendered inside the layout -->
<!-- app/views/layouts/application.html.erb -->
<!-- The layout will be rendered inside the application layout -->
<!-- app/views/layouts/application.html.erb -->

<div class="main">
    <div class="container <%= "home" unless @category %>">

        <% unless @category %> 
            <div class="banner">
                <div class="canvas-container">
                    <%= content_tag(:div, "hello", data: { controller: "threejs", threejs_target: "canvas"}, class: "canvas") %>
                </div>
            </div>
        <% end %>

        <%= turbo_frame_tag "main_content_frame", class: "content" do %>
            <%= render template: "posts/index" %>
        <% end %>

        <%= turbo_frame_tag "main_sidebar_frame" do %>
            <div class="sidebar">
                <%= render "/pages/featured_post" %>
                <%= render "/pages/popular_post" %>
            </div>
        <% end %>
</div>


