<%# Navigation bar %>

<header class="header" data-controller="navbar">
    <div class="header-container">
        <!-- Hamburger Icon for small screens -->
        <div class="hamburger" data-target="navbar.hamburger" data-action="click->navbar#toggleMenu">
            <%= image_tag("menu.svg", alt: "Menu") %> <!-- Replace with your hamburger icon -->
        </div>
        <div class="logo">
            <%= image_tag("logo.svg") %>
        </div>
        
        <nav class="nav-link" data-navbar-target="navLinks">
            <%= link_to "Home", root_path %>
            <%= link_to "Frontend", root_path(category: "frontend") %>
            <%= link_to "Backend", root_path(category: "backend") %>
            <%= link_to "AI", root_path(category: "AI") %>
            <%= link_to "Tools+", root_path(category: "tools") %>
        </nav>

        <div class="create-button-container">
            <%= link_to "+", new_post_path, class: "btn btn-create-post",  data: { turbo_frame: "main_content_frame" } %>
        </div>
        

        <div class="logins">
            <button class="btn btn-primary"><%= image_tag("search.svg") %></button>
            <% if authenticated? %>
                <%= button_to session_path, class: "btn btn-primary", method: :delete, data: { tooltip: "Log out" } do %>
                    <%= image_tag("logout.svg", alt: "Log out") %>
                <% end %>
            <% end %>
            <% unless authenticated? %>
                <%= button_to new_session_path, class: "btn btn-primary", data: { tooltip: "Login" } do %>
                    <%= image_tag("login.svg", alt: "Login") %>
                <% end %>
            <% end %>   
        </div>
    </div>
</header>
