<%# Navigation bar %>

<header class="header" data-controller="navbar">
    
    <div class="header-container">
        <!-- Hamburger Icon for small screens -->
        <div class="hamburger" data-target="navbar.hamburger" data-action="click->navbar#toggleMenu">
            <%= image_tag("menu.svg", alt: "Menu") %> <!-- Replace with your hamburger icon -->
        </div>
        <div class="logo">
            <%= image_tag("logo.svg") %>
        </div>
        
        <nav class="nav-link" data-navbar-target="navLinks">
            <%= link_to "Home", root_path %>
            <%= link_to "HTML & CSS", root_path(category: "frontend") %>
            <%= link_to "JavaScript & React", root_path(category: "backend") %>
            <%= link_to "Ruby & Rails", root_path(category: "AI") %>
            <%= link_to "Tools", root_path(category: "tools") %>
            <%= link_to "By Guests", root_path(category: "guest") %>
        </nav>

        <div class="create-button-container">
            <%= link_to "+", new_post_path, class: "btn btn-create-post",  data: { turbo_frame: "main_content_frame", tooltip: "Create Post"  } %>
        </div>
        

        <div class="logins">
            
            <button class="btn btn-primary"><%= image_tag("search.svg") %></button>
            <div id="login_buttons" data-controller="login-dialog">
                <% if authenticated? %>
                    <%= button_to session_path, class: "btn btn-primary", method: :delete, data: { tooltip: "Logout" } do %>
                        <%= image_tag("logout.svg", alt: "Log out") %>
                    <% end %>
                <% else %>
                    <%= link_to new_session_path, class: "btn btn-primary", data: { turbo_frame: "login_frame" } do %>
                        <%= image_tag("login.svg", alt: "Login") %>
                    <% end %>
                <% end %>
                <%= turbo_frame_tag "login_frame" do %>
                <% end %>  
            </div>
 
        </div>

    </div>

</header>